spring:
  application:
    name: auth-service

  profiles:
    active: dev

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true

  security:
    filter:
      dispatcher-types: REQUEST,ASYNC,ERROR

jwt:
  issuer: urbansphere-auth
  access-token-expiration-minutes: 15
  refresh-token-expiration-days: 7
  private-key-path: keys/private.pem
  public-key-path: keys/public.pem
