version: "3.8"

services:
  redpanda:
    image: redpandadata/redpanda:latest
    command: >
      redpanda start
      --overprovisioned
      --smp 1
      --memory 1G
      --reserve-memory 0M
      --node-id 0
      --check=false
    ports:
      - "9092:9092"
      - "9644:9644"
    volumes:
      - redpanda-data:/var/lib/redpanda/data

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: urbansphere
      POSTGRES_PASSWORD: urbansphere
      POSTGRES_DB: urbansphere_default
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

      # Create all DBs
      - ./init-multiple-dbs.sql:/docker-entrypoint-initdb.d/00-init-multiple-dbs.sql:ro

      # Run schema for each microservice
      - ./service-tables/auth-service-table.sql:/docker-entrypoint-initdb.d/01-auth.sql:ro
      - ./service-tables/user-service-table.sql:/docker-entrypoint-initdb.d/02-user.sql:ro
      - ./service-tables/location-service-table.sql:/docker-entrypoint-initdb.d/03-location.sql:ro
      - ./service-tables/routing-service-table.sql:/docker-entrypoint-initdb.d/04-routing.sql:ro
      - ./service-tables/safety-service-table.sql:/docker-entrypoint-initdb.d/05-safety.sql:ro
      - ./service-tables/notification-service-table.sql:/docker-entrypoint-initdb.d/06-notification.sql:ro

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -h localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: "local"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "redpanda:9092"
      KAFKA_CLUSTERS_0_ZOOKEEPER: ""
    depends_on:
      - redpanda

volumes:
  redpanda-data:
  pgdata:
